@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Helvetica Neue", system-ui, sans-serif;
    }
    textarea {
      font-family: "Roboto Mono", system-ui, sans-serif;
    }
    textarea:focus {
      outline: 1px solid black;
    }
    input {
      font-family: "Roboto Mono", system-ui, sans-serif;
    }
    input:focus {
      outline: 1px solid black;
    }
  }